[submodule "uScatterbrain"]
	path = uScatterbrain
	url = https://github.com/Scatterbrain-DTN/ScatterRoutingService.git
	branch = main
[submodule "RxAndroidBle"]
	path = RxAndroidBle
	url = https://github.com/gnu3ra/RxAndroidBle.git
	branch = gatt-server
